@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Medium.ttf);
}

body {text-transform: uppercase;}

.nav-link a {
  color: #e91e63;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 2px solid;
  text-decoration: none;
}

a:hover {
  color: #000000;
  border-bottom: 2px solid;
}


.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header-dark {
  background-color: #282c34 !important;
  color: #ffffff !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

img { max-width: 55px; }

/* *********** */
/* Forms - inputs - select - options */
/* *********** */

select, button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

option { font-size: 14px; }


/* *********** */
/* code box */
/* *********** */
.code-container {
  position: relative;
}

.code-box {
  position: relative;
  padding: 1em;
  min-height: 180px;
  line-height: 1.25;
  background-color: #292929;
  color: #ffffff;
  border-radius: 2px;

  border: 0;
  width: 90%;
  resize: vertical;
  box-shadow: 0 2px 15px 0 rgba(103, 100, 100, 0.94);
  margin-top: 20px;
}

.btn-black {  
  background-color: white;
  color: #292929;
  padding: 5px 25px;
  position: absolute;
  top:30px;
  right: 50px;
  z-index: 999;
}

.btn-black:hover {  
  background-color: #292929;
  color: #ffffff;
}
/* *********** */
/* font size and display */
/* *********** */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.font-size-14 { font-size: 14px; }

.font-size-16 { font-size: 18px; }

.font-size-50 {     font-size: 50px; }

.display-1 { font-size: 65px; }

.font-bold { font-weight: 600; }

/* *********** */
/* Text colors - tranforms */
/* *********** */
.text-muted { font-family: Montserrat; color: #8e8e8e; }

.text-uppercase { text-transform: uppercase; }

/* *********** */
/* Margins and Paddings */
/* *********** */
.ml-20 { margin-left: 20px !important; }

.ml-10 { margin-left: 10px !important; }

.m-0 { margin: 0 !important; }

.mb-20 { margin-bottom: 20px !important; }

.mt-20 { margin-top: 20px !important; }

.mt-10 { margin-top: 10px !important; }

.mb-0 { margin-bottom: 0 !important; }


/* *********** */
/* Color and background */
/* *********** */
.bg-dark {
  background-color: #292929;
  padding: 20px;
  border-radius: 5px;
  color: wheat;
}

.color-rose { color: #E91E63; }

/* *********** */
/* Border */
/* *********** */
.black-border {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
}

.max-width-600 { max-width: 600px;}

.max-width-300 {     max-width: 300px; }

.w-100 { width: 100% !important; }

.w-70 { width: 70% !important; }

.w-60 { width: 60% !important; }

.w-50 { width: 50% !important; }

/* *********** */
/* Button and  Links */
/* *********** */

button {  
  background-color: rgb(41, 41, 41);
  border: 2px solid rgb(41, 41, 41);
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: inherit;
  border: 2px solid rgb(61, 61, 61);
  color: rgb(61, 61, 61);
}


.btn-link {
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: 0;
  color: #E91E63;
  font-size: 15px;
  font-weight: 600;
}

.link-rose {
  color: #E91E63;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.link-rose:hover { color: #000000; }

.simple-link {
  background-color: inherit;
  border: 0;
  color: #E91E63;
  padding: 0;
  margin: 0;
}

.simple-link:hover {
  color: #ff1d6a;
  background-color: inherit;
  border: 0;
}

.social-link {
  text-decoration: none;
  border: 0 !important;
  padding: 0;
  color: #E91E63;
}

/* *********** */
/* media */
/* *********** */
@media screen and (max-width: 600px) {

  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  select, button { font-size: 12px; padding: 5px 10px; }

  .display-1 { font-size: 35px; }

  .font-size-16 { font-size: 14px; }

  img { max-width: 30px;}

  .max-width-600 { max-width: 200px;}
  .w-60 { width: 90% !important; }
}
