.font-s14 { font-size: 14px; }

.img-logo {
  max-width: 30px;
}

.color-rose { color: #E91E63 !important; }
/* *********** */
/* code box */
/* *********** */
.code-container {
  position: relative;
}

.code-box {
  position: relative;
  padding: 1em;
  min-height: 180px;
  line-height: 1.25;
  background-color: #292929;
  color: #ffffff;
  border-radius: 2px;

  border: 0;
  width: 100%;
  resize: vertical;
  box-shadow: 0 2px 15px 0 rgba(103, 100, 100, 0.94);
  margin-top: 20px;
}

.btn-black {    
  position: absolute;
  top:30px;
  right: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;  
  z-index: 999;
}

.btn-rose {
  color: #ffffff !important;
  background-color: #E91E63 !important;
  border-color: #c51954 !important;
}

.social-link {
  font-size: 45px;
  color: #E91E63;  
}