/*
 * Globals
 */
 @font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Pacifico-Regular;
  src: url(./fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: Raleway-Regular;
  src: url(./fonts/Raleway-Regular.ttf);
}

html,
body {
  height: 100%;  
}

body {
  font-family: Raleway-Regular;  
  text-align: center;
  text-transform: uppercase; 
  font-weight: 600; 
}

.container { position: relative; }

.jumbotron { background-color: inherit !important; }

h1, .cover-heading { font-family: Pacifico-Regular; font-size: 65px; }

/*
  Nav
*/
.nav-link:hover, .nav-link:focus, .nav-link:active { color: #ffffff !important; }

.nav-link, .btn-black {    
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;  
}

.navbar-nav {  line-height: 2; }

.navbar, footer {
  background-color: #282c34 !important;
  line-height: 2;  
}

.collapse, .navbar-collapse {
  transition: all .4s ease;
}

/* Util */
.font-s12 { font-size: 12px !important; }
.font-s14 { font-size: 14px !important; }

.max-w40 { max-width: 40%;}
.w-30 { width: 30%; }

.fixed-bottom { z-index: 1; }

.text-muted, .nav-link { color: #a0a0a0 !important; }

p { 
  font-family: Montserrat;
  font-size: 14px; 
  max-width: 500px; 
  text-align: center;
  margin: auto;
  margin-bottom: 10px; 
  font-weight: 100; 
}
/*
  Footer
*/
.social-link {
  font-size: 45px;
  color: #E91E63;  
  transition: all .3s;
}

.social-link:hover {
  color: rgb(155, 25, 68);  
}


@media screen and (max-width: 600px) {
  h1, .cover-heading { 
    font-family: Pacifico-Regular; 
    font-size: 30px; 
    margin-bottom: 20px; 
  }

  p { font-size: 14px !important; }

  textarea,select, .w-75, .w-50,.w-25, .w-30 { width: 100% !important;}
}
